mixin sMainPage()
	// start sMainPage
	+b.SECTION.sMainPage.section.bg-wrap#sMainPage&attributes(attributes)
		block
		.container
			+b.section-title.d-none.d-sm-block
				h2 Недвижимость в Санкт-Петербурге
			+b.widget
				+form-wrap()
					+e.top-btns
						+topBtn('Купить')(checked)
						+topBtn('Продать')
						+topBtn('Снять')
						+topBtn('Сдать')
					+e.inputs-strip
						//-1
						+e.pop-up-wrap.pop-up-wrap-js.object-type
							+e.pop-up-header.pop-up-header-js
								span Тип объекта
								+icon('chevron-down')
							+e.pop-up-content.object-type.pop-up-content-js
								+e.long-ch-cont
									+objectTypeItem('Квартиры')
									+objectTypeItem('Комнаты')
									+objectTypeItem('Дома, дачи, коттеджи')
									+objectTypeItem('Коммерческая недвижимость')
									+objectTypeItem('Земельные участки')
									+objectTypeItem('Гаражи и машиноместа')
									+objectTypeItem('Новостройки')
						//-2
						+e.pop-up-wrap.pop-up-wrap-js.room-type
							+e.pop-up-header.pop-up-header-js
								span Комнатность
								+icon('chevron-down')
							+e.pop-up-content.room-type.pop-up-content-js
								+e.squsre-ch-cont
									+roomTypeItem('1')
									+roomTypeItem('1E')
									+roomTypeItem('2')
									+roomTypeItem('2E')
									+roomTypeItem('3')
									+roomTypeItem('3E')
									+roomTypeItem('4')
									+roomTypeItem('4E')
									+roomTypeItem('5+')
									+e.room-long-cb
										+roomLongChb('Студия')
										+roomLongChb('Свобод. планировка')
						//-3
						+e.pop-up-wrap.pop-up-wrap-js.price-type
							+e.pop-up-header.pop-up-header-js
								span Цена
								+icon('chevron-down')
							+e.pop-up-content.pop-up-content-js.price-type
								+e.price-pp-cont
									+range("10000", "999999", '₽')(class='with-symbol')
									+e.bottom-radio
										+topBtn('За все', 'price-checkbox')(checked)
										+topBtn('За м²', 'price-checkbox')
						//-
						+input('Адрес', 'text', undefined, 'price')
					+e.A.more-filters-btn.more-filters-btn-js.main-page-btn(href="#")
						span Больше фильтров
						+icon('chevron-down')
					+moreFiltersBlock()
					+e.BUTTON.submit-btn(type='submit')
						+icon('search')
						span Показать 2327 объектов
				+e.A.call-btn.d-none.d-md-flex(href="#")
					+icon('phone')
	// end sMainPage
mixin topBtn(Txt, name="top-btn")
	label
		input(type="radio" name=name value=Txt)&attributes(attributes)
		span=Txt

mixin roomLongChb(txt)
	+e.LABEL.room-long-checkbox
		input(type='checkbox' name="")
		.checkbox
			+icon('check')
		.long-chb-txt=txt

mixin objectTypeItem(itemTxt='itemTxt')
	+b.LABEL.long-checkbox
		input(type='checkbox' name="")
		.checkbox
			+icon('check')
		.long-chb-txt=itemTxt

mixin roomTypeItem(itemTxt='itemTxt')
	+e.square-checkbox-cont
		+e.LABEL.square-checkbox
			input(type='checkbox' name="")
			.checkbox=itemTxt